body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

.body{
    flex: 1;
    display: flex;
}

.header {
    height: 50px;
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    gap: 16px;
}

.headerlogo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 350px;
    background-color: #1F2937;
    padding: 16px;
    margin: 0;
    gap: 16px;
}

.heromaintext{
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
}

.herosecondarytext{
    font-size: 18px;
    color: #E5E7EB;
}

.herobutton {
    padding: 8px 16px;
    background: #3882F6;
    border-radius: 8px;
    color: #F9FAF8;
    font-weight: 900;
    border: none;
    margin-top: 8px;
}

ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

img {
    width: 200px;
    height: 200px;
}

.informationtitle{
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-top: 24px;
}

.blocks{
    display: flex;
    justify-content: center;
    gap: 32px;
    padding-top: 48px;
}

.block{
    padding: 16px;
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 20px;
}

.blockssubtexts{
    display: flex;
    justify-content: center;
    gap: 32px;

}

.blocksubtext{
    padding-bottom: 48px;
    width: 150px;
    margin: 16px;
    font-size: 18px;
    color: #1F2937;
}

.QuoteBox{ 
    background: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 32px;
    margin: 0;
    box-sizing: border-box;
}

.quote{
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.quotee{
    font-weight: 600;
    font-size: 16px;
    color: #1F2937;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 16px;
}

.calltoaction{
    display:flex;
    align-items: center;
    justify-content: space-around;
    background: #3882F6;
    border: #3882F6;
    border-radius: 8px;
    height: 120px;
    margin: 80px;

}

.calltoactiontitle{
    display: flex;
    color: #F9FAF8;
    font-weight: 800;
    font-size: 18px;
}

.calltoactionsubtext{
    display: flex;
    color: #F9FAF8;
}

.actionbutton{
    padding: 8px 16px;
    background: #3882F6;
    border-radius: 8px;
    color: #F9FAF8;
    font-weight: 900;
    border: 1;
    border-color: #E5E7EB;
    border-style: solid;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1F2937;
    color:white;
    height: 72px;
}